{% extends 'components/list.html' %}

{% block table_header %}
 <tr>
  <th>Nombre</th>
  <th class="hide">Email</th>
  <th class="hide">Fecha</th>
  <th class="hide">Aprobado</th>
  <th></th>
 </tr>
{% endblock table_header %}

{% block table_body %}
 {% if object_list %}
  {% for review in object_list %}
   <tr>
    <td>{{ review.name }}</td>
    <td class="hide">{{ review.email }}</td>
    <td class="hide">{{ review.date }}</td>
    <td class="hide">
     {% if review.is_approved %}
      <i class="fa fa-check text-success">
     {% else %}
      <i class="fa fa-times text-danger">
     {% endif %}
    </td>
    <td>
     <button class="btn btn-secondary btn-sm" hx-get="{% url 'users:review_detail' pk=review.pk %}" hx-target="#dialog"><i class="fas fa-eye"></i></button>
     <button class="btn btn-success btn-sm hide" hx-get="{% url 'users:review_confirm_update' pk=review.pk %}" hx-target="#dialog"><i class="fas fa-edit"></i></button>
     <button class="btn btn-danger btn-sm hide" hx-get="{% url 'users:review_confirm_delete' pk=review.pk %}" hx-target="#dialog"><i class="fas fa-trash-alt"></i></button>         
    </td>
   </tr>
  {% endfor %}

 {% else %}
  <tr>
   <td colspan="5" class="text-center fw-semibold">No se encontraron resultados.</td>
  </tr>
 {% endif %}
{% endblock table_body %}

{% block pagination %}
 {% include 'components/pagination.html' %}
{% endblock pagination %}

{% block toast %}
 {% include 'components/toast.html' %}
{% endblock toast %}