<!-- Empty toast to show the message -->
<div class="toast-container position-fixed bottom-0 end-0 p-4">
    <div id="toast" class="toast align-items-center text-white bg-success border-0 p-1" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="d-flex">
        <div id="toast-body" class="toast-body fs-6"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
    </div>
</div>


<style>
    #toast {
    animation: slide-up 0.8s ease-in-out, fade-out 0.5s ease-in-out 5s;
    max-width: 100vw;
    }

    @keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    }
    @keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    }
</style>

