{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="page-section" id="contact">
    <div class="container px-3 px-lg-5 py-5 pt-5">
        <div>
            <nav aria-label="breadcrumb" class="pt-5 mt-5">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'portfolio:index' %}" class="text-dark"><i class="fas fa-home"></i> Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Contacto</li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-md-6 mb-5">
                    <h1 class="display-6 fw-bolder">Contactame</h1>

                    <p>Si tenes alguna pregunta o necesitas más información, no dudes en ponerte en contacto mediante email, whatsapp o completando el formulario.</p>
                    
       
                </div>

                <div class="col-md-6 mb-5">
                    <div class="w-100" hx-get="{% url 'users:message_create' %}" hx-trigger="load, messageListChanged from:body" hx-target="this">
                    </div>
                </div>
              </div>
        </div>
    </div>
</section>
{% endblock content %}


