{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <section class="container px-3 px-lg-5 py-5 pt-5 h-section">
        <div class="d-flex justify-content-center align-items-center py-3 max-width-content">
            <form method="post" class="mx-auto login-forms p-5 col-12 col-md-6">
                {% csrf_token %}
                <div>
                    <img class="mb-4" src="" alt="" width="250">
                </div>
    
                <h1 class="fs-5 mb-3 fw-semibold">Iniciar sesión</h1>
        
                {% for field in form %}
                    <div class="form-floating mb-2">
                        {{ field|add_class:"form-control" }}
                        {{ field.label_tag }}
                        {% for error in field.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            
                {% if form.non_field_errors %}
                    <div class="text-danger">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                    
                <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-success">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
