{% extends 'base.html' %}

{% block content %}
    <section class="container px-3 px-lg-5 py-5 pt-5 h-section" hx-trigger="load, reviewListChanged from:body" hx-get="{% url 'users:load_review_list' %}" hx-target="#results">
        <h2 class="fw-bolder display-5 mb-4 text-uppercase text-center pt-5 mt-5">Reseñas</h2>       

        <div class="py-lg-4 py-3 col-12 col-md-8 col-lg-6 mx-auto">
            <form 
                class="input-group" 
                hx-get="{% url 'users:load_review_list' %}?consult={{ consult }}" 
                hx-target="#results"
            >
                <input name="consult" class="form-control" type="text" placeholder="Buscar reseñas..." />
                <button class="btn btn-success" id="button-search" type="submit">
                    <i class="fas fa-search"></i> Buscar
                </button>
            </form>   
        </div>

        <div id="results">
        </div>
        
        {% url 'portfolio:index' as url %}
        {% include 'components/index_back.html' with link=url %}    
    </section>
    
    {% endblock %}
