{% load widget_tweaks %}

<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Dejá tu reseña</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
      {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:"form-control" }}
            {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="text-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cancelar
      </button>
      <button type="submit" class="btn btn-success">Enviar</button>
    </div>
</form>